/* Estilos para a página de contato */
.contact-container {
    text-align: center;
    padding-top: 50px;
    overflow: auto;
}

.contact-info {
    width: calc(50% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
}
